.custom-modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.custom-modal.show {
  display: flex;
}

.modal-content {
  background: white !important;
  padding: 20px 25px;
  width: 500px !important;
  /* nhỏ hơn chút, vừa tầm */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease;
}

/* hiệu ứng mở nhẹ nhàng */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 15px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.modal-content button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveBtn {
  background-color: #28a745;
  color: white;
  margin: 2px;
}

#cancelBtn {
  background-color: #dc3545;
  color: white;
  margin: 2px;
}

.text-center.text-danger.mb-4 {
  margin-top: -40px;
}


#toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toast-message {
  display: flex;
  align-items: center;
  min-width: 250px;
  margin-bottom: 10px;
  padding: 12px 20px;
  border-radius: 6px;
  color: #fff;
  font-family: sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.4s forwards, fadeOut 0.5s ease 3s forwards;
}

/* Kiểu màu cho từng loại */
.toast-success {
  background: #28a745;
}

/* xanh lá */
.toast-error {
  background: #dc3545;
}

/* đỏ */
.toast-warning {
  background: #ffc107;
  color: #000;
}

/* vàng */
.toast-info {
  background: #17a2b8;
}

/* xanh dương nhạt */

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

#menu {
  display: block;
  margin-top: 100px;
  margin-left: 120px;
  font-weight: bolder;
}

.foot-img {
  margin-top: 800px;
  margin-left: 0px;
  margin-right: 0px;
}

.fa-solid {
  transition: color 0.25s linear;
}

.fa-solid:hover {
  color: rgb(255, 0, 0);
}

.nav-link:hover {
  color: orange !important;
}

.logo {
  margin-left: 110px;
  text-decoration: none;
  font-size: 40px;
  width: 50%;
  border: none;
}

#carry:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.75),
    0 0 20px rgb(255, 255, 255, 0.5), 0 0 30px rgb(255, 255, 255, 0.25);
}

#S:hover {
  text-shadow: 0 0 10px rgba(255, 0, 0, 20), 0 0 20px rgba(255, 0, 0, 20),
    0 0 30px rgba(255, 0, 0, 20);
}

#F:hover {
  text-shadow: 0 0 10px rgba(255, 0, 0, 20), 0 0 20px rgba(255, 0, 0, 20),
    0 0 30px rgba(255, 0, 0, 20);
}

#treet:hover {
  text-shadow: 0 0 10px rgba(255, 165, 0, 1), 0 0 20px rgba(255, 0165, 0, 1),
    0 0 30px rgba(255, 165, 0, 1);
}

#east:hover {
  text-shadow: 0 0 10px rgba(255, 165, 0, 1), 0 0 20px rgba(255, 0165, 0, 1),
    0 0 30px rgba(255, 165, 0, 1);
}

.logo p {
  margin: 0;
  padding: 0;
  /* display: inline; */
  font-weight: bolder;
  transition: text-shadow 0.25s linear;
}

.navbar.bg-body-tertiary {
  background-color: rgba(0, 0, 0, 0.75) !important;
  color: white !important;
}

#carry {
  letter-spacing: -14px;
  text-align: center;
  display: inline;
  text-shadow: 0 0 10px rgba(12, 12, 12, 0.65), 0 0 20px rgba(0, 0, 0, 0.325),
    0 0 30px rgba(0, 0, 0, 0.1125);
}

#S {
  letter-spacing: -11px;
  margin: 0px;
  padding: 0;
  text-align: center;
  color: red;
  display: inline;
  font-family: "Segoe Script", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.75), 0 0 20px rgba(255, 0, 0, 0.65),
    0 0 30px rgba(255, 0, 0, 0.55);
}

#F {
  letter-spacing: -13px;
  margin: 0px;
  padding: 0;
  text-align: center;
  color: red;
  display: inline;
  font-family: "Segoe Script", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.75), 0 0 20px rgba(255, 0, 0, 0.65),
    0 0 30px rgba(255, 0, 0, 0.55);
}

#treet {
  letter-spacing: -1px;
  margin: 0px;
  padding: 0;
  text-align: center;
  color: orange;
  display: inline;
  text-shadow: 0 0 10px rgba(255, 165, 0, 0.75),
    0 0 20px rgba(255, 0165, 0, 0.5), 0 0 30px rgba(255, 165, 0, 0.25);
  font-family: "Segoe Script", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

#east {
  letter-spacing: -1px;
  margin: 0px;
  padding: 0;
  text-align: center;
  color: orange;
  display: inline;
  font-family: "Segoe Script", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  text-shadow: 0 0 10px rgba(255, 165, 0, 0.75),
    0 0 20px rgba(255, 0165, 0, 0.5), 0 0 30px rgba(255, 165, 0, 0.25);
}

.contract {
  display: inline;
}

#foot {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
}

.navbar.navbar-expand-lg.bg-body-tertiary {
  height: 14%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 1000;
  /* (thường cần nếu muốn đè lên các phần tử khác) */
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-right: 50px;
  font-size: 25px;
  margin-top: 0%;
  color: white !important;
}

.btn-danger.dropdown-toggle {
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid black;
  border-radius: 100px;
  color: white;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.btn-group {
  color: white !important;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255) !important;
  /* nền tối */
}

.dropdown-menu .dropdown-item {
  color: rgb(0, 0, 0) !important;
  transition: text-shadow 0.25s linear, background-color 0.25s linear,
    font-weight 0.25s linear;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgb(250, 250, 250);
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75), 0 0 20px rgba(0, 0, 0, 0.5),
    0 0 30px rgba(255, 0, 0, 0.25);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-divider {
  border-color: rgb(255, 255, 255);
}

.container-grid {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aboutus {
  font-size: 25px;
  margin-top: 300px;
}

.aboutus p {
  margin-bottom: 0px;
}

.followus {
  font-size: 25px;
  margin-top: 300px;
}

.followus p {
  margin-bottom: 0px;
}

.fa-brands.fa-square-facebook.fa-2x:hover {
  font-size: 90px;
}

.fa-brands.fa-facebook-messenger.fa-2x:hover {
  font-size: 90px;
}

.fa-brands.fa-youtube.fa-2x:hover {
  font-size: 90px;
}

.fa-brands.fa-tiktok.fa-2x:hover {
  font-size: 90px;
}

.fa-brands {
  transition: font-size 0.25s ease-in-out;
}

/* === FIX: ĐẨY CRUD XUỐNG DƯỚI NAVBAR === */
body {
  padding-top: 120px;
  /* khoảng trống dưới navbar */
}

.container.my-5 {
  margin-top: 40px !important;
  /* đảm bảo không trồi */
}